---
- hosts: raspberry_pis
  become: true
  roles:
    - role: sudo_privileges
      vars:
        group_name: admin
    - role: syncthing
      vars:
        target_user: simon

- hosts: vpn_server
  become: true
  roles:
    - role: sudo_privileges
      vars:
        group_name: admin
    - role: ssh_hardening
    - role: unattended_upgrades
    - role: ufw
    - role: docker
    - role: deploy_sftp_server
